.borderBox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {

    &::before,
    &::after {
        @extend .borderBox;
    }

    @extend .borderBox;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(0, 0, 66), rgb(0, 0, 36));
    display: flex;
    justify-content: center;
    align-items: center;

    >main {
        width: 300px;
        height: 100px;
        position: relative;
        overflow: hidden;
        // border: 2px solid white;
        >ul {
            width: 100%;
            height: 100%;
            display: flex;
            

            >li {
                list-style-type: none;
                flex-grow: 1;
                height: 100%;
                // border: 1px solid white;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: white;
                font-size: 40px;
                position: relative;

                >span {
                    display: flex;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: bold;
                    // background-color: red;
                }


                @for $i from 1 through 9 {
                    &:nth-of-type(#{$i}) {
                        >span {
                            animation: char#{$i} 1s linear infinite;
                        }
                    }
                }
            }

            &::after {
                content: '';
                display: flex;
                width: 20px;
                height: 10px;
                border-radius: 40px;
                background-color: teal;
                position: absolute;
                bottom: 0;
                animation: anim 1s linear infinite;
            }
        }
    }
}

@keyframes anim {
    // to {
    //     transform: translateX(400px);
    //     height: 20px;
    //     width: 200px;
    // }

    0% {
        transform:translateX(0) scale(0);
        height: 0;
    }
    
     5% {
        transform: scale(1);
       

     }

     20% {
        transform: scale(1);
        width: 20px;
        height: 20px;
     }
    
    100% {
        transform:translateX(400px) scale(1);
        width: 100px;
        height: 30px;

    }
}

@keyframes char1 {
    0% {
        top: 50%;
    }

    5% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}

@keyframes char2 {
    0% {
        top: 50%;
    }

    20% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}

@keyframes char3 {
    0% {
        top: 50%;
    }

    30% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}

@keyframes char4 {
    0% {
        top: 50%;
    }

    40% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}
@keyframes char5 {
    0% {
        top: 50%;
    }

    45% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}
@keyframes char6 {
    0% {
        top: 50%;
    }

    55% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}
@keyframes char7{
    0% {
        top: 50%;
    }

    65% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}
@keyframes char8{
    0% {
        top: 50%;
    }

    75% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}
 
@keyframes char9{
    0% {
        top: 50%;
    }

    85% {
        top: 0;
    }

    100% {
        top: 50%;
    }

}
 